{% load tree_menu_tags %}

<!--MENU PRINCIPAL DE ADDAC-->
{% ifequal menu_type "menu-principal" %}
 <ul id="nav" class="dropdown dropdown-linear">
    {% for menu_item in menu.root_item.children %}
    {% if menu_item.has_children %}
    <li><span class="dir">{{ menu_item.caption }}</span>
        <ul>
            {% for child in menu_item.children %}
            {% if child.has_children %}
            <li><a  href={% if child.tipo == 2 %}"{{ child.pagina.get_full_url }}?m={{child.id}}"{% else %}"{{ child.url }}"{% endif %}>{{ child.caption }}</a></li>
            {% else %}
            <li><a  href={% if child.tipo == 2 %}"{{ child.pagina.get_full_url }}?m={{child.id}}"{% else %}"{{ child.url }}"{% endif %}>{{ child.caption }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% else %}
    <li><a href={% if menu_item.tipo == 2 %}"{{ menu_item.pagina.get_full_url }}?m={{child.id}}"{% else %}"{{ menu_item.url }}"{% endif %}>{{ menu_item.caption }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endifequal %}

<!--MENU LATERAL DE ADDAC-->
{% ifequal menu_type "sidebar" %}
    {% for menu_item in menu.root_item.children %}
    <a href={% if menu_item.tipo == 2 %}"{{ menu_item.pagina.get_full_url }}?m={{menu_item.id}}"{% else %}"{{ menu_item.url }}"{% endif %}>{{menu_item.caption}}</a>
    {% endfor %}
{% endifequal %}

<!--MENU LATERAL DE ADDAC ZONAS-->
{% ifequal menu_type "sidebar-zonas" %}
    {% for menu_item in menu.root_item.children %}
    <a href={% if menu_item.tipo == 2 %}"{{ menu_item.pagina.get_full_url }}?m={{menu_item.id}}"{% else %}"{{ menu_item.url }}"{% endif %}>{{menu_item.caption}}</a>
    {% endfor %}
{% endifequal %}
