{%extends "base.html"%}
{%load comments%}
{%block title%}{{noticia.titulo}}{%endblock%}
{%block extraheader%}
<meta property="og:image" content="http://www.addac.org.ni{{noticia.imagen.url_265x200}}" />
<script type="text/javascript" charset="utf-8">

function bindPostCommentHandler() {

    $('#comment_form form input.submit-preview').remove();
    $('#comment_form form').submit(function() {
        $.ajax({
            type: "POST",
            data: $('#comment_form form').serialize(),
            url: "{% comment_form_target %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#comment_form form').replaceWith(html);
                bindPostCommentHandler();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#comment_form form').replaceWith('Error: su comentario no pudo ser guardado en estos momentos.');
            }
        });
        return false;
    });
}

$(document).ready(function() {
    //super dirty hack! effin django comment framework
    $("label[for='id_email']").html('E-mail');
    bindPostCommentHandler();
    $('#comment_form').hide()
    $("#botoncomentar").click(function() {
        $('#comment_form').show();
        return false;
    });
});


</script>
{%endblock%}

{%block contenido%}
    <div class="container" style ="height:200px !important;">

        <div id="title-container">
            <h1>{{noticia.titulo}}</h1>
            <div id="autor-title"><b>Escrito por: {{noticia.autor}}</b></div>
            <div id="categoria-title">Categoria: {{noticia.categoria}}</div>
            <div id="fecha-title"><img alt="fecha" src="/files/imagen/icon_fecha.jpg"/>{{noticia.fecha|date:"d M Y"}}</div>
            <div id="facebook-title">
            <script src="http://connect.facebook.net/es_ES/all.js#xfbml=1"></script><fb:like href="" show_faces="true" width="320" font="trebuchet ms"></fb:like>
            </div>
        </div>
        <img id="thumb-noticia-principal" alt="noticia" src="{{noticia.imagen.url_265x200}}"/>
        <div class="separador"></div>
    </div>
    <div id="body-text">
        <div id="contenidosafe">
       {{noticia.contenido|safe}}
       </div>
       <div class="separador"></div>
       {%if noticia.tags %}
        <div id="tags">
            <b>Tags:</b><br/><br/>
            {% for tag in noticia.get_tags %}
            <a href="/tags/{{tag.id}}">{{tag}}</a>
           {%endfor%}
            <div class="separador"></div>
        </div>
        {%endif%}
        <br/>
        <div class="bloqueinf-noticia">
            <div class="titulo-bloqueinf-noticia">Noticias Relacionadas</div>
            {%for noticia_rel in noticia_rel%}
            <a href="/noticias/{{noticia_rel.slug}}">{{noticia_rel.titulo}}</a>
            {%endfor%}
        </div>
         <div class="bloqueinf-noticia commentblock">
             <div class="titulo-bloqueinf-noticia">Comentarios</div>
                 {% get_comment_count for noticia as comment_count %}
                 <p><i>Esta noticia tiene {{ comment_count }} comentarios.</i></p>
                 <a id="botoncomentar" href="#"><img align="right" src="/files/imagen/comment.jpg"></a><div class="separador"></div>
                <div id="comment_form" class="der">
                 <br>
                    {% render_comment_form for noticia %}
                </div>
                 {% get_comment_list for noticia as comment_list %}
                 {% for comment in comment_list %}
                        <p>
                        {%if comment.user_url%}
                            <a href="{{comment.user_url}}"><b>{{comment.user_name}}</b></a><br>
                        {%else%}
                            <b>{{comment.user_name}}</b><br>
                        {%endif%}
                        {{comment.comment}}</p>
                {% endfor %}

         </div>

    </div>
{%endblock%}
