{%extends "base.html"%}
{%block title%}Lista de videos{%endblock%}
{%load magicembed%}
{%block title%}Videos{%endblock%}
{%block extraheader%}
{%endblock%}

{%block contenido%}
    <div class="container" style ="height:70px !important;">
        <br>
        <div id="title-container-interna">
        <div id="title-menu-padre">Videos</div>
            <h1>Galeria</i></h1>
        </div>
    </div>
    <div id="body-text">
    {%for video in videos%}
    <div class="elemento-lista">

        <div class="izq" style="height:120px !important; ">
            <a href="/videos/{{video.slug}}">
            <img class="izq"src="/files/imagen/bordevideo.png"/><img class="izq" width="150" height="125" src="{{video.video|magicthumbnail}}"  alt="thumb"/><img class="izq"src="/files/imagen/bordevideo.png"/>
            </a>
        </div>
        <div class="titulo-noticia-index izq" style="width:350px !important; margin-left:15px;"><a href="/videos/{{video.slug}}">{{video.titulo}}</a></div>
        <div class="descripcion-video izq" style="width:350px !important;  margin-left:15px;">
         {{video.descripcion|safe|truncatewords_html:33}}<br>
        </div>
        <div class="extra-noticia" style="width:350px !important;  margin-left:15px;">
            <br><i>{{video.fecha|date:"d M Y"}}</i> |
            <a href="/videos/{{video.slug}}">Reproducir &#187;</a>
        </div>
        <div class="separador"></div>
    </div>
    {%endfor%}
    </div>
{%endblock%}
