{%extends "base.html"%}
{%load magicembed%}
{%block extraheader%}
{%endblock%}
{%block contenido%}
       <div class="container" style ="height:70px !important;">
           <br>
           <div id="title-container-interna">
           <div id="title-menu-padre">VIDEOS</div>
               <h1>{{video.titulo}}</h1>
           </div>
       </div>
       <div id="body-text">
           <div id="body-right" style="width:100% !important;">
               <div class="izq">{{video.video|magicembed:"450x340"|safe}}</div>
               <div class="extra-noticia der" style="margin-left:5px; float:right !important;">
                    <br><i><b>Publicado el</b><br>{{video.fecha|date:"d M Y"}}</i>
                    <br><br>
                       {%if video.tags %}
                        <div id="tags" style="width:130px;">
                            <b>Tags:</b><br/><br/>
                            {% for tag in video.get_tags %}
                            <a style="margin-top:4px;" href="/tags/{{tag.id}}">{{tag}}</a>
                           {%endfor%}
                            <div class="separador"></div>
                        </div>
                        {%endif%}
                </div>
              <div class="espaciador"></div>
              <br><br>
              <div class="izq" style="margin-top:15px;"><p>{{video.descripcion|safe}}</p></div>
           </div>
           <div class="espaciador"></div>
       </div>
 {%endblock%}
