{%extends "base.html"%}
{%block extraheader%}
        <script type="text/javascript" src="/files/js/jquery.pikachoose.full.js"></script>
        <link type="text/css" href="/files/css/bottom.css" rel="stylesheet" />
        <script language="javascript">
            $(document).ready(
                function (){
                    $("#pikame").PikaChoose({carousel:true});
                });
        </script>
{%endblock%}
{%block contenido%}
                    <div class="container" style ="height:70px !important;">
                        <br>
                        <div id="title-container-interna">
                        <div id="title-menu-padre">{%if menu1.level == 1%}{{menu1.menu.name}}{%else%}{{menu1.parent.caption}}{%endif%}</div>
                            <h1>{{pagina_detalle.titulo}}</h1>
                        </div>
                    </div>
                    <div id="body-text">
                    {%if pagina_detalle.galeria %}
                    <div class="pikachoose">
                        <ul id="pikame" class="jcarousel-skin-pika">
                        {%for foto in pagina_detalle.galeria%}
                            <li><a href="http://www.pikachoose.com"><img src="{{foto.imagen.url_180x250}}"/></a><span>{{foto.titulo}}</span></li>
                        {%endfor%}
                        </ul>
                    </div>
                        <div id="body-right">
                            {{pagina_detalle.contenido|safe}}
                        </div>
                        <div class="espaciador"></div>
                     {%else%}
                        <div id="body-right" style="width:100% !important;">
                            {{pagina_detalle.contenido|safe}}
                        </div>
                        <div class="espaciador"></div>
                     {%endif%}
                    </div>
 {%endblock%}