<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load tree_menu_tags %}
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ADDAC | {%block title%}{%endblock%}</title>
        <meta name="keywords" content="ADDAC, Matagalpa, Nicaragua" />
        <meta name="description" content="Asociación para la Diversificación y el Desarrollo Agrícola'" />
        <link href="/files/css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/files/css/dropdown.linear.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/files/css/default.ultimate.linear.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/files/css/imageflow.css" type="text/css" />
        <!--[if lt IE 7]>
        <script type="text/javascript" src="/files/js/IE/jquery/jquery.js"></script>
        <script type="text/javascript" src="/files/js/IE/jquery/jquery.dropdown.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/files/js/imageflow.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
            //Larger thumbnail preview
            $(".escondete").hide();
            $(".primera").show();
            $("ul.thumb li").hover(function() {
                $(this).css({'z-index' : '10'});
                $(this).find('img').addClass("hover").stop()
                    .animate({
                        marginTop: '-75px',
                        marginLeft: '-30px',
                        top: '100%',
                        left: '18%',
                        width: '65px',
                        height: '65px',
                        padding: '10px'
                    }, 200);

                } , function() {
                $(this).css({'z-index' : '0'});
                $(this).find('img').removeClass("hover").stop()
                    .animate({
                        marginTop: '0',
                        marginLeft: '0',
                        top: '0',
                        left: '0',
                        width: '40px',
                        height: '40px',
                        padding: '3px'
                    }, 400);
            });
            //Swap Image on Click
                $("ul.thumb li a").click(function() {
                    var id = $(this).attr("id"); //Find Image Name
                    $(".escondete").hide();
                    $('#programa'+id).show();
                    return false;
                });

            });
            </script>
            <script type='text/javascript'>
            $(document).ready(function() {
                // OPACITY OF BUTTON SET TO 50%
                $("#link-video").css("opacity","0.75");

                // ON MOUSE OVER
                $("#link-video").hover(function () {

                // SET OPACITY TO 100%
                $(this).stop().animate({
                opacity: 1.0
                }, "slow");
                },

                // ON MOUSE OUT
                function () {

                // SET OPACITY BACK TO 50%
                $(this).stop().animate({
                opacity: 0.75
                }, "slow");
                });
                });
            </script>
{%block extraheader%}{%endblock%}
</head>
<body>
    <div id="sombratop"></div>
    <div id="contenedor">
        <div id="header">
            <div id="logo">
                <a href="/"><img src="/files/imagen/logobanner.png" alt="banner"/></a>
            </div>
            <div id="social">
                <a href=""><img src="/files/imagen/buscador.png"  alt="banner"/></a>
                <br/><br/>
                <a href="/"><img src="/files/imagen/rss.png"  alt="buscador"/></a>
                <a href=""><img src="/files/imagen/facebook.png"  alt="facebook"/></a>
                <a href=""><img src="/files/imagen/twitterb.png"  alt="twitter"/></a>
                <br/>
            </div>
            <div class="separador"></div>
            <br/>
        </div>
        <div id="pagina">
            <div id="menu-principal">
            {% show_menu "Menu Principal" "menu-principal" %}
            </div>
            <div id="cuerpo" class="centro">
                <div id="cuerpo-izq">
                   {%block contenido%}{%endblock%}
                </div>
                <div id="sidebar-der">
                    <div class="bloque">
                        <div class="titulo-bloque">ADDAC</div>
                        <div class="contenedor-bloque" id="addac">
                        {% show_menu "ADDAC" "sidebar" %}
                            <br/>
                            <div class="separador"></div>
                        </div>
                    </div>
                    <div class="bloque">
                        <div class="titulo-bloque">Zonas de Cobertura</div>
                        <div class="contenedor-bloque" id="zonas">
                            {% show_menu "Zonas" "sidebar-zonas" %}
                            <br/>
                            <div class="separador"></div>
                        </div>
                    </div>
                    <div class="bloque">
                        <div class="titulo-bloque">Videos</div>
                        <div class="contenedor-bloque">
                            <center><a href="/"><img id="link-video" class="" src="/files/imagen/videos2.jpg" alt="videos"/></a></center>
                            <br/>
                            <div class="separador"></div>
                        </div>
                    </div>
                    <div class="bloque">
                        <div class="titulo-bloque">Enlaces de interes</div>
                        <div class="contenedor-bloque" id="enlaces">
                            <a href="/">Cooperantes <img src="/files/imagen/cooperantesicon.png"alt="cooperantes"/></a>
                            <a href="/">Alzar las voces <img src="/files/imagen/alzaricon.png" alt="alzar"/></a>
                            <a href="/">Sitios amigos <img src="/files/imagen/amigosicon.png"alt="sitioamigos"/></a>

                            <div class="separador"></div><br/> <br/>
                        </div>
                    </div>
                </div>
                <div class="separador"></div>
                <div id="footer">
               ADDAC - Asociación para la Diversificación y el Desarrollo Agrícola, <br>Dirección: Clínica Santa Fe 2 c al Este 1/2 c al Norte. Matagalpa, Nicaragua. Teléfono: (505) 2772-7108. Apartado postal 161.<br/> Desarrollado por SIMAS bajo plataforma Django
                </div>
            </div>
        </div>
    </div>
</body>
</html>
