<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    {% load tree_menu_tags %}
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ADDAC | {%block title%}{%endblock%}</title>
        <meta name="keywords" content="ADDAC, Matagalpa, Nicaragua" />
        <meta name="description" content="Asociación para la Diversificación y el Desarrollo Agrícola Comunal" />
        <!--
        <meta property="og:title" content="ADDAC" />
        <meta property="og:type" content="non_profit" />
        <meta property="og:url" content="http://www.addac.org.ni/" />
        <meta property="og:image" content="http://www.addac.org.ni/files/imagen/logobanner.png" />
        <meta property="og:site_name" content="ADDAC" />
        <meta property="fb:admins" content="1143369015" />
        -->
        <link REL="SHORTCUT ICON" HREF="/files/imagen/favicon.gif">
        <link href="/files/css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="/files/css/dropdown.linear.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/files/css/default.ultimate.linear.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/files/css/imageflow.css" type="text/css" />
        <!--[if lt IE 7]>
        <script type="text/javascript" src="/files/js/IE/jquery/jquery.js"></script>
        <script type="text/javascript" src="/files/js/IE/jquery/jquery.dropdown.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/files/js/imageflow.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                //Larger thumbnail preview
                $(".escondete").hide();
                $(".primera").show();
                $("ul.thumb li").hover(function() {
                    $(this).css({'z-index' : '10'});
                    $(this).find('img').addClass("hover").stop()
                    .animate({
                        marginTop: '-75px',
                        marginLeft: '-30px',
                        top: '100%',
                        left: '18%',
                        width: '65px',
                        height: '65px',
                        padding: '10px'
                    }, 200);

                } , function() {
                    $(this).css({'z-index' : '0'});
                    $(this).find('img').removeClass("hover").stop()
                    .animate({
                        marginTop: '0',
                        marginLeft: '0',
                        top: '0',
                        left: '0',
                        width: '40px',
                        height: '40px',
                        padding: '3px'
                    }, 400);
                });
                //Swap Image on Click
                $("ul.thumb li a").click(function() {
                    var id = $(this).attr("id"); //Find Image Name
                    $(".escondete").hide();
                    $('#programa'+id).show();
                    return false;
                });

            });
        </script>
        <script type='text/javascript'>
            $(document).ready(function(){
                if($('#cse-search-box input[name="q"]').val()==''){
                    $('#cse-search-box input[name="q"]').val('Buscar');
                }
                $('#cse-search-box input[name="q"]').click(function(){
                    if($(this).val()=='Buscar'){$(this).val('')}
                });
                $('#cse-search-box input[name="q"]').focus(function(){
                    if($(this).val()=='Buscar'){$(this).val('')}
                });
                $('#cse-search-box input[name="q"]').blur(function(){
                    if($(this).val()==''){$(this).val('Buscar')}
                });
            });
            $(document).ready(function() {
                // OPACITY OF BUTTON SET TO 50%
                $("#link-video").css("opacity","0.75");
                // ON MOUSE OVER
                $("#link-video").hover(function () {
                    // SET OPACITY TO 100%
                    $(this).stop().animate({
                        opacity: 1.0
                    }, "slow");
                },
                // ON MOUSE OUT
                function () {
                    // SET OPACITY BACK TO 50%
                    $(this).stop().animate({
                        opacity: 0.75
                    }, "slow");
                });
            });
        </script>
        <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-22462953-1']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type =
        'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
        'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
         })();

        </script>
        {%block extraheader%}{%endblock%}

    </head>
    <body>
        <div id="sombratop"></div>
        <div id="contenedor">
            <div id="header">
                <div id="logo">
                    <a href="/"><img src="/files/imagen/logo.png" alt="banner"/></a>
                </div>
                <div id="social">
                    <div class="search">
                        <form action="/busqueda/" id="cse-search-box">
                            <div>
                                <input type="hidden" name="cx" value="012011324828630117606:g7o2raxrioi" />
                                <input type="hidden" name="cof" value="FORID:10" />
                                <input type="hidden" name="ie" value="UTF-8" />
                                <input type="text" name="q" size="31" />
                            </div>
                        </form>
                        <script type="text/javascript" src="//www.google.com/cse/brand?form=cse-search-box&lang=es"></script>
                    </div>
                    <br/><br/>
                    <a href="/rss"><img src="/files/imagen/rss.png"  alt="buscador"/></a>
                    <a href="https://www.facebook.com/pages/Addac_Nicaragua/243887712378731"><img src="/files/imagen/facebook.png"  alt="facebook"/></a>
                    <a href="http://twitter.com/addacmatagalpa"><img src="/files/imagen/twitterb.png"  alt="twitter"/></a>
                    <br/>
                </div>
                <div class="separador"></div>
                <br/>
            </div>
            <div id="pagina">
                <div id="menu-principal">
                    {% show_menu "Menu Principal" "menu-principal" %}
                </div>
                <div id="cuerpo" class="centro">
                    <div id="cuerpo-izq">
                        {%block contenido%}{%endblock%}
                    </div>
                    <div id="sidebar-der">
                        <div class="bloque">
                            <div class="titulo-bloque">ADDAC</div>
                            <div class="contenedor-bloque" id="addac">
                                {% show_menu "ADDAC" "sidebar" %}
                                <br/>
                                <div class="separador"></div>
                            </div>
                        </div>
                        <div class="bloque">
                            <div class="titulo-bloque">Zonas de Cobertura</div>
                            <div class="contenedor-bloque" id="zonas">
                                {% show_menu "Zonas" "sidebar-zonas" %}
                                <br/>
                                <div class="separador"></div>
                            </div>
                        </div>
                        <div class="bloque">
                            <div class="titulo-bloque">Videos</div>
                            <div class="contenedor-bloque">
                                <center><a href="/videos"><img id="link-video" class="" src="/files/imagen/videos2.jpg" alt="videos"/></a></center>
                                <br/>
                                <div class="separador"></div>
                            </div>
                        </div>
                        <div class="bloque">
                            <div class="titulo-bloque">Enlaces de interes</div>
                            <div class="contenedor-bloque" id="enlaces">
                                <a href="/enlacescooperante">Cooperantes <img src="/files/imagen/cooperantesicon.png"alt="cooperantes"/></a>
                                <a href="http://alzarvoces.wordpress.com" TARGET="_new">Alzar las voces <img src="/files/imagen/alzaricon.png" alt="alzar"/></a>
                                <a href="/enlacesamigos">Sitios amigos <img src="/files/imagen/amigosicon.png"alt="sitioamigos"/></a>

                                <div class="separador"></div><br/> <br/>
                            </div>
                        </div>
                    </div>
                    <div class="separador"></div>
                    <div id="footer">
                        <b>ADDAC</b> - Asociación para la Diversificación y el Desarrollo Agrícola Comunal <br>Dirección: Clínica Santa Fe 2 c al Este 1/2 c al Norte. Matagalpa, Nicaragua. Teléfono: (505) 2772-7108. Apartado postal 161.<br/> <br>Desarrollado por <a href="http://www.simas.org.ni">SIMAS</a> bajo plataforma <a href="http://www.djangoproject.org">Django</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
