{%extends "base.html"%}
{%block title%}Inicio{%endblock%}

{%block contenido%}
                 <div class="container">
                        <ul class="thumb">
                        {% for banner in banner %}
                            <li><a id="{{banner.id}}" href="{{banner.imagen.url_540x275}}"><img src="{{banner.miniatura.url_69x51}}" alt="" /></a></li>
                        {% endfor %}
                        </ul>
                        <div id="main_view">
                            {%for banner in banner %}
                                {% if forloop.first %}
                                    <div id="programa{{banner.id}}" class="escondete primera">
                                        <a href="{{banner.url}}" target="_blank">
                                        <img src="{{banner.imagen.url_540x275}}" alt="" />
                                        <div class="programatext">
                                            <div class="programatitulo">{{banner.titulo}}</div>
                                            <a class="ir" href="{{banner.url}}"></a>
                                        </div>
                                        </a>
                                    </div>
                                 {%else%}
                                    <div id="programa{{banner.id}}" class="escondete">
                                        <a href="{{banner.url}}" target="_blank">
                                        <img src="{{banner.imagen.url_540x275}}" alt="" />
                                        <div class="programatext">
                                            <div class="programatitulo">{{banner.titulo}}</div>
                                            <a class="ir" href="{{banner.url}}"></a>
                                        </div>
                                        </a>
                                    </div>
                                {%endif%}
                             {%endfor%}
                        </div>
                        <div class="separador"></div>
                    </div>
                    <div class="separador-seccion">
                        Noticias
                        <a href="/">Ver Todas &#187; </a>
                    </div>
                    <div class="seccion-index">
                        <div id="index-noticia-left">
                           {% for noticia in noticia %}
                            <div class="noticia-principal">
                                <div class="thumb-noticia-index"><a href="/noticias/{{noticia.slug}}"><img class="izq"  src="{{noticia.imagen.url_62x48}}"  alt="thumb"/></a></div>
                                <div class="titulo-noticia-index"><a href="/noticias/{{noticia.slug}}">{{noticia.titulo}}</a></div>
                                <div class="resume-noticia-index">{{noticia.contenido|safe|truncatewords_html:25}}</div>
                                <div class="leermas-noticia-index"><a href="/noticias/{{noticia.slug}}">Leer Mas <img class="der" src="/files/imagen/flechitab.jpg" alt="flecha"/></a></div>
                            </div>
                            <div class="separador"></div>
                            {%endfor%}
                            <br/>
                        </div>
                        <div id="index-noticia-right">
                            <div id="innovacion-titulo">Innovacion Tecnologica</div>
                            <div id="innovacion-contendor">
                            {% for inov in noticia_inov %}
                                <a href="/noticias/{{inov.slug}}"><img class="bordeimagen"src="{{inov.imagen.url_206x138}}" alt="thumb"/></a>
                                <div class="titulo-noticia-index"><a href="/noticias/{{inov.slug}}">{{inov.titulo}}</a></div>
                                <div class="resume-noticia-index">{{inov.contenido|safe|truncatewords_html:35}}</div>
                                <div class="leermas-noticia-index"><a href="/noticias/{{inov.slug}}">Leer Mas <img class="der" src="/files/imagen/flechita.jpg" alt="flecha"/></a></div>
                            {%endfor%}
                            </div>
                        </div>
                        <div class="separador"></div>
                    </div>
                    <div class="separador-seccion">
                        Ultimas Adquisiciones CIDOC
                        <a href="/">Ver Todas &#187;</a>
                    </div>
                    <div class="seccion-index">
                        <div id="myImageFlow" class="imageflow">
                        {%for pub in publicacion%}
                            <img src="{{pub.imagen.url_156x192}}" longdesc="/publicacion/{{pub.slug}}" alt="{{pub.titulo}}" />
                        {%endfor%}
                        </div>
                        <br/>
                        <br/>
                    </div>
{%endblock%}