<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ADDAC | {%block title%}{%endblock%}</title>
        <meta name="keywords" content="ADDAC, Matagalpa, Nicaragua" />
        <meta name="description" content="Descripcion de addac'" />
        <link href="estilo.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="dropdown.linear.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="default.ultimate.linear.css" media="screen" rel="stylesheet" type="text/css"/>
        <!--[if lt IE 7]>
        <script type="text/javascript" src="js/jquery/jquery.js"></script>
        <script type="text/javascript" src="js/jquery/jquery.dropdown.js"></script>
<![endif]-->
        <link rel="stylesheet" href="imageflow.css" type="text/css" />
        <script type="text/javascript" src="imageflow.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
<body>
    <div id="sombratop"></div>
    <div id="contenedor">
        <div id="header">
            <div id="logo">
                <a href="/"><img src="logobanner.png" alt="banner"/></a>
            </div>
            <div id="social">
                <a href=""><img src="buscador.png"  alt="banner"/></a>
                <br/><br/>
                <a href="/"><img src="rss.png"  alt="buscador"/></a>
                <a href=""><img src="facebook.png"  alt="facebook"/></a>
                <a href=""><img src="twitterb.png"  alt="twitter"/></a>
                <br/>
            </div>
            <div class="separador"></div>
            <br/>
        </div>
        <div id="pagina">
            <div id="menu-principal">
                <ul id="nav" class="dropdown dropdown-linear">
                    <li><a href="./">INICIO</a></li>
                    <li><span class="dir">NOTICIAS</span>
                        <ul>
                            <li><a href="./">Generales</a></li>
                            <li><a href="./">Innovacion Tecnologica</a></li>
                        </ul>
                    </li>
                    <li><span class="dir">PROGRAMAS</span>
                        <ul>
                            <li><a href="./">Credito</a></li>
                            <li><a href="./">Produccion y Comercializacion</a></li>
                            <li><a href="./">Desarrollo Humano y Local</a></li>
                            <li><a href="./">fortalecimiento de Cooperativas</a></li>
                        </ul>
                    </li>
                    <li><span class="dir">ZONAS</span>
                        <ul>
                            <li><a href="./" >Pancasan</a></li>
                            <li><a href="./" >Matagalpa</a></li>
                            <li><a href="./">Rancho Grande</a></li>
                            <li><a href="./">Tuma la Dalia</a></li>
                            <li><a href="./">San Ramon</a></li>
                            <li><a href="./">Waslala</a></li>
                        </ul>
                    </li>
                    <li><span class="dir">SERVICIOS</span>
                        <ul>
                            <li><a href="./" >Antocha Ecologica</a></li>
                            <li><a href="./" >Finca Canavalia</a></li>
                            <li><a href="./">Centro de Documentacion CEDOC</a></li>
                        </ul>
                    </li>
                    <li><a href="./">PUBLICACIONES</a></li>
                </ul>
            </div>
            <div id="cuerpo" class="centro">
                <div id="cuerpo-izq">
                    <div class="container" style ="height:70px !important;">
                        <br>
                        <div id="title-container-interna">
                        <div id="title-menu-padre">Zonas</div>
                            <h1>Tortor nisi scelerisque mus cursus olor scelerisque, pid, diam</h1>
                        </div>
                    </div>
                    <div id="body-text">
                        <div id="body-right">
                        <p>Turpis parturient lorem scelerisque arcu lectus tortor scelerisque? Elementum. Amet? Cum scelerisque, turpis ut magna placerat, turpis ultricies, ridiculus sed! Enim porta tristique aenean, porttitor. Ridiculus sociis nunc sit scelerisque scelerisque mattis arcu, penatibus ridiculus. Enim risus sagittis nascetur cum urna pellentesque elit dis. Ridiculus, etiam, placerat turpis, hac velit eros aenean sociis phasellus amet ut nunc, montes aliquet enim? Elementum nisi velit nec enim turpis? Elementum ultrices facilisis ac proin cum, lundium habitasse, nunc arcu. Odio, nec scelerisque natoque, massa nec integer, dignissim massa lundium vel nec habitasse aliquet dolor parturient augue in rhoncus ac, tristique integer sed vel, lorem magna aliquet nunc ut pellentesque urna et ut augue duis sed ultrices dictumst, ultricies nisi et elit tristique integer.</p>

                        <p>Elit aliquet. Vel elementum tincidunt, vel amet dignissim a ut sit proin porttitor, ac sit! Vut vel? Pulvinar adipiscing, ultrices porta a dignissim tempor montes cras scelerisque porta hac sociis mattis, ac? Nunc? Nisi aenean in, scelerisque in odio pellentesque integer. Lorem montes augue est lacus adipiscing lorem aliquet mid ridiculus pellentesque dapibus quis porttitor cursus magna in integer. Risus integer sit eu, pulvinar sit, nisi eu lundium magnis penatibus cum ac est, ac nunc, et magna eros mattis, dignissim sit, odio, duis! Turpis magna! Magna mus cursus turpis, aliquam aenean velit lacus eu pellentesque in elit egestas, magna! Natoque, porta integer lundium a et hac sed platea ac! Ut lacus enim. Et, lundium dis mid in velit nunc.</p>

                        <p>Augue dis platea sagittis, ac non amet. Sociis in, vel urna. Aliquam? Turpis, lectus porta cras elementum et vel et rhoncus proin risus etiam natoque porta magna ultricies ac, ultrices ultrices, phasellus! Aliquet! Integer mus nunc velit est magna! Adipiscing dictumst tincidunt dolor nunc. Diam auctor porttitor, lacus adipiscing auctor elementum sit rhoncus! Ut egestas nec ultricies etiam, lundium, aliquet etiam? Pulvinar magnis integer et, et hac, arcu adipiscing, odio? Dictumst mid amet aliquam elementum? Eros sociis amet non nascetur augue. Pid turpis est montes scelerisque, magnis odio est. Habitasse? Sagittis, ultrices. Sed porta cras, elementum cursus facilisis tortor, elementum velit, magnis porttitor, montes dis porta magnis, urna rhoncus? Integer, elementum, mus turpis, in, a porttitor! Parturient? Facilisis nunc.</p>
                        </div>
                        <div class="espaciador"></div>
                    </div>
                </div>
                <div id="sidebar-der">
                    <div class="bloque">
                        <div class="titulo-bloque">ADDAC</div>
                        <div class="contenedor-bloque" id="addac">
                            <a href="/">Quienes Somos</a>
                            <a href="/">Mision y Vision</a>
                            <a href="/">Antecedentes Historicos</a>
                            <a href="/">Principios y Valores</a>
                            <a href="/">Lineamientos Estrategicos</a>
                            <a href="/">Funcionamiento Administrativo</a>
                            <a href="/">Documentos Legales</a>
                            <a href="/">Cooperar con ADDAC</a>
                            <a href="/">Contactarnos</a>
                            <br/>
                            <div class="separador"></div>
                        </div>
                    </div>
                    <div class="bloque">
                        <div class="titulo-bloque">Zonas de Cobertura</div>
                        <div class="contenedor-bloque" id="zonas">
                            <a href="/">Waslala</a>
                            <a href="/">Rancho Grande</a>
                            <a href="/">Tuma La Dalia</a>
                            <a href="/">San Ramon</a>
                            <a href="/">Matagalpa</a>
                            <a href="/">Matiguas</a>
                            <br/>
                            <div class="separador"></div>
                        </div>
                    </div>
                    <div class="bloque">
                        <div class="titulo-bloque">Videos</div>
                        <div class="contenedor-bloque">
                            <center><img src="videos.jpg"alt="videos"/></center>
                            <br/>
                            <div class="separador"></div>
                        </div>
                    </div>
                    <div class="bloque">
                        <div class="titulo-bloque">Enlaces de interes</div>
                        <div class="contenedor-bloque" id="enlaces">
                            <a href="/">Cooperantes <img src="cooperantesicon.png"alt="cooperantes"/></a>
                            <a href="/">Alzar las voces <img src="alzaricon.png" alt="alzar"/></a>
                            <a href="/">Sitios amigos <img src="amigosicon.png"alt="sitioamigos"/></a>

                            <div class="separador"></div><br/> <br/>
                        </div>
                    </div>
                </div>
                <div class="separador"></div>
                <div id="footer">
                ADDAC - Asociación para la Diversidad y el Desarrollo Agícola, Direccion, Matagalpa Nicaragua,  telefono <br/> Desarrollado por SIMAS bajo plataforma Django
                </div>
            </div>
        </div>
    </div>
</body>
</html>
